server/controller/Algorithm/Term/__pycache__/Term.cpython-310.pyc
server/controller/Algorithm/.idea/vcs.xml
server/controller/Algorithm/.idea/workspace.xml
server/controller/Algorithm/.idea/inspectionProfiles/profiles_settings.xml
server/controller/summary.pyc
node_modules
node_modules